body {
  margin: 1.25rem 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #acbac4;
  align-items: center;
  color: #f0f0db;
  font-family: "Inter", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.card {
  margin: auto;
  width: min(90%, 25rem);
  border-radius: 1.25rem;
  border: 0.0625rem solid #f0f0db;
  background-color: #252a3b;
  overflow: hidden;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.25);
}

.profile-picture {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-bottom: 0.0625rem solid #f0f0db;
  object-fit: cover;
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-links {
  display: flex;
  gap: 1.25rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: inherit;
  background-color: #acbac4;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

.email {
  color: black;
  background-color: white;
}

.linkedin {
  color: white;
  background-color: #5093e2;
  padding: 0.5rem 0.625rem;
}

h1,
.btn {
  margin: 0.9375rem 0;
}

h2 {
  margin-bottom: 0.625rem;
}

p {
  line-height: 1.5;
}

.interests-section,
.about-section {
  padding: 0.3125rem 1.875rem;
}

.interests-section {
  padding-bottom: 1.875rem;
}

ul {
  padding-left: 0.625rem;
}

li {
  line-height: 1.5;
  list-style-type: circle;
}
